autoexec.cfg
.vs*
bam
.bam
/config.lua
/datasrc/__pycache__
/datasrc/*.pyc
/objs
src/game/generated
/*.dll

/crapnet*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/tileset_border*
/versionsrv*
/infclass_client*
/infclass_srv*
/infclass_editor*
/bin/*
